{% unless paginator.previous_page %}
<link href="/assets/css/glide.core.min.css" rel="stylesheet" type="text/css">
<link href="/assets/css/carousel.css" rel="stylesheet" type="text/css">
<script src="/assets/js/glide.min.js"></script>
<div class="glide">
    {% assign carousel = site.carousel | sort: 'order' %}
    <div class="glide__track" data-glide-el="track">
        <ul class="glide__slides">
            {% for item in carousel %}
            <li class="glide__slide"
                {% if item.img %}
                    style="background-image: url({{ item.img }})"
                {% endif %} >
                <a href="{{ item.link }}">
                    <div class="glide__text">{{ item.content }}</div>
                </a>
            </li>
            {% endfor %}
        </ul>
        <div class="glide__arrows" data-glide-el="controls">
            <img alt="Back" class="glide__arrow left" data-glide-dir="<" src="/assets/icons/carousel-left.svg">
            <img alt="Next" class="glide__arrow right" data-glide-dir=">" src="/assets/icons/carousel-right.svg">
        </div>
    </div>

    <div class="glide__bullets" data-glide-el="controls[nav]">
        {% for item in carousel %}
        <div class="glide__bullet" data-glide-dir="={{ forloop.index0 }}">
            <div class="dash"></div>
        </div>
        {% endfor %}
    </div>
</div>
<script>
    new Glide('.glide', {autoplay: 8000}).mount();
</script>
{% endunless %}
