<div class="footer">
    <div class="footer-column copyright">
        <img alt="MSU Graphics & Multimedia Lab Video Group" class="logo" src="/assets/img/logo.svg">
        <div class="text">
            MSU Graphics & Media Lab Video Group
            <br>
            2019&ndash;2022
        </div>
    </div>
    <div class="footer-column">
        <ul>
            {% include projects.html %}
        </ul>
    </div>
    <div class="footer-column">
        <ul>
            <li><a href="{% link about/about.md %}">About Us</a></li>
            <li><a href="{% link _projects/benchmarks.md %}">Benchmarks</a></li>
            <li><a href="{% link about/projects.md %}">Projects</a></li>
            <li><a href="{% link about/publications.md %}">Publications</a></li>
            <li><a href="{% link about/contacts.md %}">Contacts</a></li>
        </ul>
    </div>
</div>
