<span class="title">Site structure</span>
<ul>
    {% assign projects = site.projects | sort: 'order' %}
    {% for project in projects %}
    <li>
        <a href="{{ project.url }}">{{ project.title }}</a>
        <ul>
            {% for subproject in site.subprojects %}
            {% if subproject.project == project.project %}
            <li><a href="{{ subproject.url }}">{{ subproject.title }}</a></li>
            {% endif %}
            {% endfor %}

            {% if project.project == "benchmarks" %}
            {% include benchmarks.html %}
            {% endif %}
        </ul>
    </li>
    {% endfor %}
</ul>
