$nav-color: #f8f8f8;
$footer-color: #eaeaea;
$accent-color: #3d6f96;
$dropdown-color: #f6f6f6;
$text-color: #222222;
$second-text-color: #888888;
$link-color: #2f80ed;
$font: 'Arimo', sans-serif;
$mobile-breakpoint: 950px;
$breakpoint: 1300px;
