<link href="/assets/css/vqmt3d/style.css" rel="stylesheet" type="text/css">

<style type="text/css">
    .fixed-container {
        overflow: auto;
    }

    .fancytable {
        border-spacing: 0;
        width: 100%;
    }

    .col2 td:nth-child(2),
    .col3 td:nth-child(3),
    .col4 td:nth-child(4),
    .col5 td:nth-child(5),
    .col6 td:nth-child(6),
    .col7 td:nth-child(7),
    .col8 td:nth-child(8),
    .col9 td:nth-child(9) { text-align: center; }
</style>

<div class="fixed-container full-bleed">
    <table class="fancytable table-fixed col2 col3 col4 col5 col6 col7 col8 col9" style="display: table">
        <thead>
            <tr>
                <th>University</th>
                <th>#subjects</th>
                <th>#subjects per video</th>
                <th>Duration</th>
                <th>#videos</th>
                <th>#videos per test</th>
                <th>#scores</th>
                <th>Year</th>
                <th>3D tech.</th>
                <th>Stimuli</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><a href="https://doi.org/10.1109/3DTV.2010.5506331">University of Surrey</a></td>
                <td>30</td>
                <td>30</td>
                <td>25</td>
                <td>40</td>
                <td>40</td>
                <td>1200</td>
                <td>2010</td>
                <td>Autostereo.</td>
                <td>Synthetic S3D seq., encoding with different QP</td>
            </tr>
            <tr>
                <td><a href="https://www.semanticscholar.org/paper/An-Assessment-of-Visual-Discomfort-Caused-by-in-3D-Cho-Kang/c490e2c57d8626b1c012db180bd1c757efaf01bf">Catholic University of Korea</a></td>
                <td>20</td>
                <td>20</td>
                <td>18</td>
                <td>36</td>
                <td>36</td>
                <td>720</td>
                <td>2011</td>
                <td>Passive</td>
                <td>Captured S3D seq., different parallax and motion</td>
            </tr>
            <tr>
                <td><a href="https://hal.archives-ouvertes.fr/hal-00724563/">Telecom Innovation Labs</a></td>
                <td>24</td>
                <td>24</td>
                <td>50</td>
                <td>64</td>
                <td>64</td>
                <td>1536</td>
                <td>2011</td>
                <td>Active</td>
                <td>Open S3D DB, different parallax</td>
            </tr>
            <tr>
                <td><a href="https://doi.org/10.1016/j.displa.2011.05.012">Philips Research Labs</a></td>
                <td>24</td>
                <td>24</td>
                <td>24</td>
                <td>7</td>
                <td>7</td>
                <td>168</td>
                <td>2011</td>
                <td>Autostereo.</td>
                <td>3D movie (converted), different parallax</td>
            </tr>
            <tr>
                <td><a href="https://onlinelibrary.wiley.com/doi/full/10.1111/aos.12006">Beijing Institute of Ophthal.</a></td>
                <td>30</td>
                <td>30</td>
                <td>30</td>
                <td>1</td>
                <td>1</td>
                <td>30</td>
                <td>2012</td>
                <td>Active+passive</td>
                <td>3D movie (captured)</td>
            </tr>
            <tr>
                <td><a href="https://hal.archives-ouvertes.fr/hal-00717865/">LUNAM University</a></td>
                <td>29</td>
                <td>29</td>
                <td>28</td>
                <td>110</td>
                <td>110</td>
                <td>3190</td>
                <td>2012</td>
                <td>Active</td>
                <td>Open S3D DB (NAMA3DS1-COSPAD1),<br>different degradations</td>
            </tr>
            <tr>
                <td><a href="https://www.researchgate.net/publication/271488946_Towards_standardized_3DTV_QoE_assessment_Cross-lab_study_on_display_technology_and_viewing_environment_parameters">Yonsei University</a></td>
                <td>28</td>
                <td>28</td>
                <td>29</td>
                <td>110</td>
                <td>110</td>
                <td>3080</td>
                <td>2013</td>
                <td>Passive</td>
                <td>Open S3D DB,10 degradation types</td>
            </tr>
            <tr>
                <td><a href="https://www.researchgate.net/publication/271488946_Towards_standardized_3DTV_QoE_assessment_Cross-lab_study_on_display_technology_and_viewing_environment_parameters">Acreo Institute</a></td>
                <td>48</td>
                <td>28</td>
                <td>29</td>
                <td>110</td>
                <td>110</td>
                <td>5280</td>
                <td>2013</td>
                <td>Passive</td>
                <td>Open S3D DB,10 degradation types</td>
            </tr>
            <tr>
                <td><a href="https://link.springer.com/article/10.1007/s11760-013-0439-0">Tampere University of Tech.</a></td>
                <td>10</td>
                <td>10</td>
                <td>45</td>
                <td>40</td>
                <td>40</td>
                <td>400</td>
                <td>2013</td>
                <td>Passive</td>
                <td>Captured S3D seq., encoding with different QP</td>
            </tr>
            <tr>
                <td><a href="https://www.researchgate.net/publication/272196362_Visual_discomfort_while_watching_stereoscopic_three-dimensional_movies_at_the_cinema">Roma Tre University</a></td>
                <td>854</td>
                <td>43-255</td>
                <td>90</td>
                <td>-</td>
                <td>1</td>
                <td>854</td>
                <td>2014</td>
                <td>Passive</td>
                <td>Screening after watching S3D movies in cinemas</td>
            </tr>
            <tr>
                <td><a href="http://live.ece.utexas.edu/publications/2014/MISCQ%20TMM.pdf">Yonsei University</a></td>
                <td>56</td>
                <td>56</td>
                <td>10.5</td>
                <td>30.1</td>
                <td>31</td>
                <td>1736</td>
                <td>2014</td>
                <td>Autostereo.</td>
                <td>Open S3D DB, different SI and TI</td>
            </tr>
            <tr>
                <td><a href="http://www.eeng.dcu.ie/~munteang/papers/2015_ICCW_YH.pdf">University College Dublin</a></td>
                <td>40</td>
                <td>4</td>
                <td>5.5</td>
                <td>25.11</td>
                <td>33</td>
                <td>1320</td>
                <td>2015</td>
                <td>Active</td>
                <td>Open S3D DB, packet losses</td>
            </tr>
            <tr>
                <td><a href="https://arxiv.org/abs/1803.04832">University of British Columbia</a></td>
                <td>88</td>
                <td>88</td>
                <td>48</td>
                <td>208</td>
                <td>208</td>
                <td>18304</td>
                <td>2015</td>
                <td>Passive</td>
                <td>Open S3D DB, different SI/TI and compression degradations</td>
            </tr>
            <tr>
                <td><a href="https://link.springer.com/article/10.1007/s11042-015-3172-6">University North</a></td>
                <td>146</td>
                <td>18</td>
                <td>8</td>
                <td>184</td>
                <td>26</td>
                <td>146</td>
                <td>2016</td>
                <td>Active</td>
                <td>Open S3D DB, 22 degradation types<br>(packet losses, encoding, resizing,<br>disparity, brightness, geometry etc.)</td>
            </tr>
            <tr>
                <td><a href="https://api.semanticscholar.org/CorpusID:6725639">University of Coimbra</a></td>
                <td>35</td>
                <td>2-6</td>
                <td>7-1</td>
                <td>184</td>
                <td>26</td>
                <td>146</td>
                <td>2016</td>
                <td>Active</td>
                <td>Open S3D DB, 22 degradation types<br>(packet losses, encoding, resizing,<br>disparity, brightness, geometry etc.)</td>
            </tr>
            <tr>
                <td><strong><a href="/stereo_quality/forecasting-of-viewers-discomfort.html">Lomonosov MSU</a></strong></td>
                <td><strong>302</strong></td>
                <td><strong>370</strong></td>
                <td><strong>40</strong></td>
                <td><strong>60</strong></td>
                <td><strong>60</strong></td>
                <td><strong>22200</strong></td>
                <td><strong>2017</strong></td>
                <td><strong>Passive</strong></td>
                <td><strong>Scenes from 3D movies (captured), 4 types of S3D distortions,<br>5 intensities</strong></td>
            </tr>
        </tbody>
    </table>
</div>
