<style type="text/css">
    .left-column {
        text-align: left;
    }

    .center-column {
        text-align: center;
    }
</style>


<table class="center fancytable">
    <tr>
        <th>Metric</th>
        <th>Class</th>
        <th>Type</th>
        <th>Applicable to</th>
    </tr>
    <tr>
        <td class="left-column"> <a href="/stereo_quality/parallax-range-estimation-s3d.html">1. Horizontal disparity</a> </td>
        <td class="center-column">Standard</td>
        <td class="center-column">Measurable</td>
        <td class="center-column">Any content</td>
    </tr>
    <tr>
        <td class="left-column"> <a href="/stereo_quality/geometric-distortions-correction-s3d.html">2. Vertical disparity</a> </td>
        <td class="center-column">Standard</td>
        <td class="center-column">Measurable</td>
        <td class="center-column">Any content</td>
    </tr>
    <tr>
        <td class="left-column"> <a href="/stereo_quality/geometric-distortions-correction-s3d.html">3. Scale mismatch</a> </td>
        <td class="center-column">Standard</td>
        <td class="center-column">Measurable</td>
        <td class="center-column">Any content</td>
    </tr>
    <tr>
        <td class="left-column"> <a href="/stereo_quality/geometric-distortions-correction-s3d.html">4. Rotation mismatch</a> </td>
        <td class="center-column">Standard</td>
        <td class="center-column">Measurable</td>
        <td class="center-column">Any content</td>
    </tr>
    <tr>
        <td class="left-column"> <a href="/stereo_quality/color-mismatch-estimation.html">5. Color mismatch</a> </td>
        <td class="center-column">Standard</td>
        <td class="center-column">Measurable</td>
        <td class="center-column">Any content</td>
    </tr>
    <tr>
        <td class="left-column"> <a href="/stereo_quality/sharpness-mismatch-detection-s3d.html">6. Sharpness mismatch</a> </td>
        <td class="center-column">Advanced</td>
        <td class="center-column">Measurable</td>
        <td class="center-column">Native 3D capture</td>
    </tr>
    <tr>
        <td class="left-column"> <a href="/stereo_quality/stereo-window-violation.html">7. Stereo window violation</a> </td>
        <td class="center-column">Advanced</td>
        <td class="center-column">Measurable</td>
        <td class="center-column">Any content</td>
    </tr>
    <tr>
        <td class="left-column"> <a href="/stereo_quality/artifacts-detection-in-converted-s3d.html">8. Crosstalk noticeability</a> </td>
        <td class="center-column">Advanced</td>
        <td class="center-column">Measurable</td>
        <td class="center-column">Any content</td>
    </tr>
    <tr>
        <td class="left-column"> <a href="/stereo_quality/depth-continuity-s3d.html">9. Depth continuity</a> </td>
        <td class="center-column">Advanced</td>
        <td class="center-column">Measurable</td>
        <td class="center-column">Any content</td>
    </tr>
    <tr>
        <td class="left-column"> <a href="/stereo_quality/artifacts-detection-in-converted-s3d.html">10. Cardboard effect</a> </td>
        <td class="center-column">Advanced</td>
        <td class="center-column">Qualitative</td>
        <td class="center-column">2D-to-3D conversion</td>
    </tr>
    <tr>
        <td class="left-column"> <a href="/stereo_quality/artifacts-detection-in-converted-s3d.html">11. Edge-sharpness mismatch</a> </td>
        <td class="center-column">Unique</td>
        <td class="center-column">Qualitative</td>
        <td class="center-column">2D-to-3D conversion</td>
    </tr>
    <tr>
        <td class="left-column"> <a href="/stereo_quality/swapped-views-detection-s3d.html">12. Channel mismatch</a> </td>
        <td class="center-column">Unique</td>
        <td class="center-column">Qualitative</td>
        <td class="center-column">Any content</td>
    </tr>
    <tr>
        <td class="left-column"> <a href="/stereo_quality/temporal-shift-estimation.html">13. Temporal asynchrony</a> </td>
        <td class="center-column">Unique</td>
        <td class="center-column">Measurable</td>
        <td class="center-column">Native 3D capture</td>
    </tr>
    <tr>
        <td class="left-column"> <a href="/stereo_quality/boundary-inconsistencies.html">14. Stuck-to-background objects</a> </td>
        <td class="center-column">Unique</td>
        <td class="center-column">Qualitative</td>
        <td class="center-column">2D-to-3D conversion</td>
    </tr>
    <tr>
        <td class="left-column"> <a href="/stereo_quality/production-method-classification.html">15. Classification by production type</a> </td>
        <td class="center-column">Unique</td>
        <td class="center-column">Qualitative</td>
        <td class="center-column">Any content</td>
    </tr>
    <tr>
        <td class="left-column"> <a href="/stereo_quality/detection-analysis-techniques.html">16. Comparison with the 2D version</a> </td>
        <td class="center-column">Unique</td>
        <td class="center-column">Qualitative</td>
        <td class="center-column">2D-to-3D conversion</td>
    </tr>
    <tr>
        <td class="left-column"> <a href="/stereo_quality/perspective-distortions-estimation.html">17. Perspective distortions</a> </td>
        <td class="center-column">Unique</td>
        <td class="center-column">Qualitative</td>
        <td class="center-column">Any content</td>
    </tr>
    <tr>
        <td class="left-column"> <a href="/stereo_quality/converged-axes-detection.html"> 18. Converged axes</a> </td>
        <td class="center-column">Unique</td>
        <td class="center-column">Qualitative</td>
        <td class="center-column">Any content</td>
    </tr>
</table>
