---
---

@import 'default-margins.scss';
@import 'fonts.scss';
@import 'config.scss';

body {
    font-family: $font;
    line-height: 130%;
    color: $text-color;
    margin: 0;
    padding: 0;
}

%reset-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar {
    @extend %reset-list;
    display: flex;
    align-items: center;
    background-color: $nav-color;
    height: 160px;
    max-width: $breakpoint;
    padding: 0 calc((100% - #{$breakpoint}) / 2);
    justify-content: space-between;
    user-select: none;
    line-height: normal;

    .logo {
        width: 87px;
        height: 67px;
        padding-right: 10px;
    }

    .navbar-header {
        .header {
            display: flex;
            align-items: center;

            h1 {
                font-size: 20px;
                color: $accent-color;

                div {
                    padding-top: 5px;
                    font-size: 16px;
                    font-weight: normal;
                    white-space: nowrap;
                    color: $second-text-color;
                }
            }
        }
    }

    .menu-toggle-button {
        display: none;
    }

    .dropdown-icon {
        vertical-align: middle;
    }

    li {
        .dropmenu {
            @extend %reset-list;
            display: none;
            width: 300%;
            z-index: 10;
            position: absolute;
            background-color: $dropdown-color;
            margin-left: -5px;

            a {
                padding: 10px;
            }

            li:hover {
                background-color: #ffffff;
            }
        }

        a {
            display: block;
            font-size: 16px;
            color: inherit;
            text-decoration: none;
            padding: 10px;
        }
    }

    li:hover {
        position: relative;

        .dropmenu {
            display: block;
        }
    }

    li:hover::first-letter {
        text-decoration: underline;
    }
}

.footer {
    background-color: $footer-color;
    max-width: $breakpoint;
    padding: 0 calc(max(0px, (100% - #{$breakpoint}) / 2) + 10px);
    height: 250px;
    display: flex;
    justify-content: space-between;
    color: $second-text-color;
    font-size: 14px;

    a {
        color: inherit;
        text-decoration: none;
    }

    ul {
        @extend %reset-list;

        li:hover::first-letter {
            text-decoration: underline;
        }
    }

    .footer-column {
        margin-top: 40px;
    }

    .copyright {
        display: flex;
        flex-direction: column;

        .logo {
            width: 98px;
            height: 84px;
        }

        .text {
            margin-top: 10px;
            color: $accent-color;
        }
    }
}

a span.pdf {
    display: inline-block;
    width: 24px;
    height: 24px;
    background-size: 24px;
    vertical-align: middle;
    background-image: url(/assets/icons/pdf.png);
}

@media (max-width: $mobile-breakpoint) {
    .navbar {
        flex-direction: column;
        align-items: stretch;
        height: auto;

        .logo {
            width: 57px;
            height: 44px;
            margin: 0;
            margin-right: 5px;
            padding: 0;
        }

        li {
            width: 100%;
            display: none;
        }

        .navbar-header {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            height: 60px;

            .header {
                padding-right: 0px;
                h1 {
                    font-size: 12px;

                    div {
                        font-size: 10px;
                    }
                }
            }
        }

        .menu-toggle-button {
            display: block;
            padding: 10px !important;
            padding-left: 0px !important;

            .icon {
                width: 25px;
                height: 12px;
                background-image: url(/assets/icons/menu.svg);
            }
        }

        li.navbar-header a {
            padding: 5px;
        }
    }

    .navbar.unfolded {
        li {
            display: block;

            a {
                padding: 20px;
            }
        }

        .navbar-header {
            display: flex;

            a {
                padding: 5px;
            }
        }

        .menu-toggle-button .icon {
            width: 21px;
            height: 21px;
            background-image: url(/assets/icons/close.svg);
        }

        .dropmenu {
            display: block;
            width: auto;
            position: relative;
            margin-left: 40px;
            background-color: $nav-color;

            li a {
                padding: 10px;
            }

            li:hover {
                background-color: inherit;
            }
        }
    }

    .footer {
        flex-direction: column;
        height: auto;
        padding: 20px 0 20px 0;

        .footer-column {
            margin: 20px 10px 20px 10px;
        }

        .copyright {
            flex-direction: row;
            align-items: center;

            .logo {
                width: 47px;
                height: 40px;
            }

            .text {
                margin-top: 0;
                margin-left: 20px;
            }
        }
    }
}
