---
layout: default
---
<link href="/assets/css/post.css" rel="stylesheet" type="text/css">
<div class="tiles-width nav-current">
    <a href="{% link index.html %}">Main page</a> &mdash;
    <a href="{{ page.url }}">{{ page.title }}</a>
</div>
<div class="tiles">
    {% assign projects = site.projects | sort: 'order' %}
    {% for project in projects %}
    <a class="tile" href="{{ project.url }}">
        <div class="image" style="background-image: url(/assets/img/preview_placeholder.png)"></div>
        <div class="title">{{ project.title }}</div>
    </a>
    {% endfor %}
</div>
<div class="tiles-width separator"></div>
<div class="tiles-width markdown site-structure">
    {% include hierarchy.html %}
</div>
