<link href="/assets/css/form.css" rel="stylesheet" type="text/css">
<form action="https://docs.google.com/forms/d/e/1FAIpQLSeakQvZVkeMjdXA6_MMI3DVj0IwY8ud3PcpYokqUGuKm6g36g/formResponse"
      class="block-form" id="feedback-form" method="POST" target="_blank">
    <input data-name="name" name="entry.1286342693" placeholder="Name*" type="text">
    <input data-name="email" name="emailAddress" placeholder="E-mail*" type="email">
    <select data-name="subject" name="entry.727020955">
        <option selected="selected" value="question">Project Question</option>
        <option value="cooperation">Cooperation</option>
        <option value="other">Other</option>
    </select>
    <textarea data-name="message" name="entry.928091769" placeholder="Message*" rows="6"></textarea>
    <input type="submit" value="SEND">
</form>
<script src="/assets/js/feedback.js"></script>
